html, body {
    height: 100%;
    margin: 0;
    font-size: 16;
}

body {
    background:#666666;
    background: -webkit-gradient(linear, top bottom, color-stop(100%, #c9c9c9), color-stop(100%,#666)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(bottom, #c9c9c9 100%,#666666 100%); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(bottom, #c9c9c9 100%,#666666 100%);    /* FF3.6+ */
    background: linear-gradient(to bottom, #c9c9c9 100%,#666666 100%);     /* W3C */
    background: linear-gradient(to bottom, #c9c9c9,#666666);
    font-family: Arial, Tahoma;
}

#main_container{
    height: 97%;
    margin: 0;
    padding: 1em 0 0;
}

#header_container{
    /* border: 1px solid red; */
    width: 500px;
    height: 300px;
    align-self: center;
    text-align: center;
    margin: 6em auto;
}

#login_container{
    /* border: 1px solid red; */
    width: 500px;
    align-self: center;
    float: top;
    text-align: center;
    margin:0 auto;
    margin-top: 2em;
}

#h_title{
    color:#CF0404;
    text-shadow: 2px 2px 4px #666666;  
}

input{
    border:none;
    border-bottom: 1px solid #CF0404;
    margin: 10px;
    background: inherit;
    color: #e6e2e2;
    text-align: center;
    font-weight: 500;
}

button[type="submit"]{
    border:none;
    box-shadow: 1px 1px #666;
    display:block;
    border-radius: 10px;
    background: #CF0404;
    color: #e6e2e2;
    margin: 0 auto;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

button[type="submit"]:active{
    outline: none;
    border: 1px solid  white;
}
a:active{
    outline:none;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus{
    outline: dotted 1px white;
}

label{
    display: block;
    color: #e6e2e2;
    text-shadow: 1px 1px #666;
    font-weight: bold;
}

a{
    width: auto;
}

/*chat*/

#chat_header_container{
    align-self: center;
    text-align: left;
    margin: auto;
    height: 3em;
    left: 1%;
    width: 98% 
}

#chat_title{
    color:#CF0404;
    text-shadow: 2px 2px 4px #707070;  
    font-size: 1.3em;
    margin: 0.6em 0.6em;
    display: inline-block;
}

#chat_logo{
    float:left;
    height: 100%;
    width: auto;
    margin-left: 0.6em;
}

#chat_img-logo{
    height: 50px;
    width: auto;
}

#chat_container{
    align-self: center;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 4.5em;
    left: 1%;
    bottom: 1em;
    width: 98%;
}

#messages-body{
    
    background: #FFABAB;
    background: -webkit-gradient(linear, bottom top, color-stop(100%, #FFABAB), color-stop(100%,#fc8484)); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, #FFABAB 100%,#fc8484 100%); /* Chrome10+, Safari5.1+ */
    background: -moz-linear-gradient(top, #FFABAB 100%,#fc8484 100%);    /* FF3.6+ */
    background: linear-gradient(to top, #FFABAB 100%,#fc8484 100%);     /* W3C */
    background: linear-gradient(to top, #FFABAB,#fc8484);
    right: 12em; 
    left: 0;
}

#online-users{
    background: #e6e2e2;
    right: 0;
    width: 11em;
}

.chat-container{
    border: 6px ridge #9e9494;
    border-radius: 0.6em;
    position: absolute;
    top: 0;
    bottom: 3.2em;
}

#textmsg, #btnEnviar{
    height: 100%;
}

#textmsg-container{
    height: 100%;
    position: absolute;
    left: 6em;
    right: 12em;
}

#textmsg{
    width: 100%;
    border-radius: 0.6em;
    resize: none;
}

#btnEnviar{
    width: 6em;
    left: 0;
    float: left;
}

#footer{
    /* border: 1px solid red; */
    height: 3em;
    float: bottom;
    position: absolute;
    width: 100%;
    bottom: 0;
}   